* {
  box-sizing: border-box;
}

html,
body {
  margin: auto;
}

@include mobile {
  html,
  body {
    max-width: $mobile;
  }
}
@include tablet {
  html,
  body {
    max-width: $tablet-max;
  }
}
@include desktop {
  html,
  body {
    max-width: 1200px;
  }
}

h4 {
  margin: 4px 0;
}
