@import "./mixins";

.header {
  .current_wishlist {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
    cursor: pointer;
    border: 2px solid $color-gray;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    .wishlist_total {
      position: absolute;
      right: -12px;
      top: -12px;
      padding: 2px;
      background-color: red;
      border-radius: 100%;
      width: 22px;
      height: 22px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
