.filter_wrapper {
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  padding-bottom: 24px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  padding: 10px;
  justify-content: space-between;
}

.displayResult {
  margin: 20px 0;
}

.displayFilters {
  min-height: 30px;
  margin: 16px 0;
}
