.filter_wrapper {
  border-top: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
  padding: 0 20px 24px;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  margin: 0 10px;
}

.displayResult {
  margin: 20px;
}

.displayFilters {
  min-height: 30px;
  margin: 16px 0;
}
